extends layout

block main
    .admin-bids
        .admin-bids__item
            .admin-bid
                .admin-bid__field.admin-bid__field--created Дата  
                .admin-bid__field.admin-bid__field--name Имя
                .admin-bid__field.admin-bid__field--age Возраст
                .admin-bid__field.admin-bid__field--phone Телефон
                .admin-bid__field.admin-bid__field--program Программа
        each bid in bids
            .admin-bids__item
                .admin-bid
                    - var date = new Date(bid.created);
                    - var timeStr = [date.getHours(), date.getMinutes()].join(':')
                    - var dateStr = [date.getFullYear(), date.getDate(), (date.getMonth() + 1)].join('.')
                    .admin-bid__field.admin-bid__field--created= timeStr + ' ' + dateStr  
                    .admin-bid__field.admin-bid__field--name=bid.name
                    .admin-bid__field.admin-bid__field--age=bid.age
                    .admin-bid__field.admin-bid__field--phone=bid.phone
                    .admin-bid__field.admin-bid__field--program=bid.program
    .admin-photos
        form(action="/upload" method="POST" enctype="multipart/form-data")
            input(type="file" name="file")
            button.button.admin-photos__button(type="submit") Загрузить
        each file in files
            .admin-photos__item(style=`background-image: url(/p/i${file.small})`)
            +cross('admin-photos__item-delete')
